aiofiles==0.5.0
aniso8601==7.0.0
arrow==1.1.0
asn1crypto==0.24.0
astroid==2.4.2
async-exit-stack==1.0.1
async-generator==1.10
attrs==21.2.0
autopep8==1.6.0
basemap==1.2.1
beautifulsoup4==4.8.2
binaryornot==0.4.4
blosc==1.7.0
Bottleneck==1.2.1
Brlapi==0.6.7
Brotli==1.0.9
cdo==1.4.0
certifi==2020.6.20
cftime==1.0.3.4
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==0.8.0
configobj==5.0.6
cryptography==2.6.1
cupshelpers==1.0
cycler==0.10.0
dash==1.16.2
dash-bootstrap-components==0.10.6
dash-core-components==1.12.1
dash-extensions==0.0.53
dash-html-components==1.1.1
dash-leaflet==0.1.4
dash-renderer==1.8.2
dash-table==4.10.1
dask==1.0.0+dfsg
data-tools==0.4.0
datatools==0.1.2
decorator==4.3.0
distro==1.3.0
distro-info==0.21
dnspython==2.1.0
email-sender==2.1.1
email-validator==1.1.3
entrypoints==0.3
et-xmlfile==1.1.0
fastapi==0.67.0
Fiona==1.8.20
Flask==1.1.2
Flask-Caching==1.9.0
Flask-Compress==1.5.0
funceme-dao==1.0
funceme-fauno-sql==2.4.8
funceme-telegram-bot-messenger==0.2.0
future==0.16.0
GDAL==2.4.0
GeoAlchemy2==0.6.3
geobuf==1.1.1
geopandas==0.9.0
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
h11==0.12.0
heroku==0.1.4
html5lib==1.0.1
httplib2==0.11.3
httptools==0.1.2
idna==2.6
ipython_genutils==0.2.0
isort==5.5.4
itsdangerous==1.1.0
Jinja2==2.11.2
jinja2-time==0.2.0
jsonschema==2.6.0
jupyter-core==4.4.0
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
locket==0.2.0
logger-fcm==1.1.2
louis==3.8.0
lrgs-data==0.3.4
lxml==4.3.2
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==3.1.2
mccabe==0.6.1
meld==3.20.0
more-itertools==8.8.0
munch==2.5.0
nbformat==4.4.0
netCDF4==1.4.2
numexpr==2.6.9
numpy==1.17.4
olefile==0.46
openpyxl==3.0.9
orjson==3.6.0
OWSLib==0.17.1
packaging==21.3
pandas==0.25.3
partd==0.3.9
patsy==0.5.1
pcds-data-base-sql==0.3.0
pcds-data-source==0.13.16
pexpect==4.6.0
pfct==0.1.41
Pillow==8.0.0
plotly==4.12.0
plotly-express==0.4.1
poyo==0.5.0
promise==2.3
protobuf==3.13.0
psutil==5.5.1
psycopg2==2.8.6
psycopg2-binary==2.8.4
pyaml==18.11.0
pycairo==1.16.2
pycodestyle==2.8.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pydantic==1.8.2
Pygments==2.3.1
PyGObject==3.30.4
pylint==2.6.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyproj==3.1.0
pyshp==2.1.0
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4.3
python-dateutil==2.7.3
python-debian==0.1.35
python-debianbts==2.8.2
python-dotenv==0.19.0
python-multipart==0.0.5
python-slugify==5.0.2
pytz==2019.3
pyxdg==0.25
PyYAML==5.3
pyzmq==17.1.2
reportbug===7.5.3-deb10u1
reportlab==3.5.13
requests==2.22.0
retrying==1.3.3
Rx==1.6.1
savefig==0.0.4
scipy==1.1.0
SecretStorage==2.3.1
Shapely==1.7.0
six==1.13.0
soupsieve==1.8
SQLAlchemy==1.3.11
starlette==0.14.2
statsmodels==0.12.0
tables==3.4.4
text-unidecode==1.3
toml==0.10.1
toolz==0.9.0
tqdm==4.62.3
traitlets==4.3.2
typed-ast==1.4.1
typing-extensions==3.10.0.0
ujson==4.0.2
unattended-upgrades==0.1
urllib3==1.25.8
uvicorn==0.13.4
uvloop==0.15.3
virtualenv==16.4.3
watchgod==0.7
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
xarray==0.11.3
xlrd==2.0.1
